@use 'vars' as *;

.accuracy-bar {
  width: 100%;
  height: 10px;
  display: flex;
}

.accuracy-bar-section {
  height: 10px;
}

.section-correct {
  background-color: $base-color;
}

.section-error {
  background-color: darken($bg-base, 30%);
}

$base-color-graph: rgba($base-color, 1);

.stats-line {
  stroke-width: .2em;
  stroke: $base-color-graph;
}

.grid-axis-wrapper {
  stroke: $base-color-graph;
  fill: $base-color-graph;
  color: $base-color-graph;
}

.stats-window {
  display: flex;
  flex-flow: column;
}

.stats-viewer {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.stats-viewer-content {
  padding: 3% 10%;
  padding-bottom: 7%;
  flex-grow: 1;

  // We have to limit the starting height 
  // if we wouldn't do this the vocabulary-list
  // would just be incredibly long instead of
  // it having a nice scroll-bar
  height: 0;
}
