@use 'vars' as *;

.home-button-icon {
  filter: invert(100%);
  opacity: 80%;
}

.nav-button {
  display: flex;
  flex-flow: column;

  $darker: darken($bg-base, 10%);
  background-color: $darker;
  border: $darker solid 3px;
  transition: background-color ease .5s;
  border-radius: 5px;
  padding: 0 1em;
  padding-bottom: .3em;
  flex-grow: 0;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.nav-button:hover {
  background-color: $bg-base;
}

.nav-buttons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.floating-nav-button {
  position: absolute;
  width: 4em;
  height: 4em;
  right: 1em;
  bottom: 1em;
  opacity: .6;
  font-size: .7em;

  display: flex;
  flex-flow: column;
  border: solid 1px $base-color;
  border-radius: 5px;
  padding: .5em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: darken($bg-base, 20%);
  transition: background-color .2s ease;
}

.floating-nav-button:hover {
  background-color: darken($bg-base, 5%);
}

