@use 'vars' as *;

.speed-tab, .accuracy-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.speed-header, .accuracy-header {
  display: flex;
}

.speed-header-info, .accuracy-header-info {
  margin-left: auto;
}

.graph-description {
  margin-top: .5em;
  text-align: center;
}

.accuracy-bar-section-wrapper {
  display: flex;
  align-items: baseline;
}

.accuracy-bar-section-text {
  font-size: .5em;
}

.accuracy-bar-wrapper {
  flex-grow: 1;
  margin-left: .3em;
}

.speed-average-wpm {
  font-size: 2em;
}

.speed-graph-wrapper {
  flex-grow: 1;
  border: solid 1px $base-color;
  padding: 5px;
  display: flex;
  flex-flow: column;
}

.img-default {
  height: 100%;
  filter: invert(1);
}
