@use 'vars' as *;

.typer-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  padding: 0 15%;
}

.typer-window {
  display: flex;
  margin-top: 1em;
  width: 100%;
  flex-grow: 1;
  background-color: rgba(darken($bg-base, 20%), .5);
  border-radius: 1em;
  border: solid 1px $base-color;
  overflow-y: auto;
  position: relative;
}

.typer-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.typer-window-tab {
  width: 100%;
  overflow: auto;
  position: relative;
}

.word-title {
  margin: 0;
  display: flex;
  background: rgba($base-color, .8);
  color: $bg-base;
  border-bottom: solid 1px $base-color;
  justify-content: center;
}

.word-meanings {
  padding: 1em;
  overflow: auto;
  flex-grow: 1;
  padding-top: .2em;
}

.typer-stats-window {
  margin: 1em;
}

.typer-word-window {
  display: flex;
  flex-flow: column;
}
