@use 'vars' as *;

.meaning {
  border-bottom: solid 3px $base-color;
}

.meaning-definition, .meaning-examples {
  display: flex;
  align-items: flex-start;
}

.meaning-definition-header, .meaning-examples-header {
    font-style: italic;
}

.meaning-examples-header {
  padding-top: .5em;
}

.meaning-definition-content, .meaning-examples-content {
  flex-grow: 1;
  border-left: solid 1px rgba($base-color, .2);
  margin-left: .3em;
  padding-left: .3em;
}

.meaning-examples-content {
  padding-top: .5em;
}

.meaning-type {
  text-transform: capitalize;
  border-bottom: solid 1px $base-color;
  line-height: .8;
  margin-top: .6em;
}

.meaning-type-text {
  font-style: italic;
}

.meaning:last-child {
  border-bottom: none;
}
