@use 'vars' as *;

.activity-viewer {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

.activity-histogram {
  width: 100%;
  height: 100%;
}

.activity-histogram-wrapper {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  padding: 1em;
}

.activity-select-buttons {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}
