$base-color: #26BADF;
$speed: .3;
$squareopacity: .1;

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  background: rgb(85,208,217);
  background: linear-gradient(70deg, rgba(85,208,217,1) 0%, rgba(0,149,255,1) 100%); 
}

.particle {
    position: absolute;
    background-color: white;
    opacity: $squareopacity;
}

@keyframes moving {
  100% {
    top: 150%;
  }

  0% {
    top: -50%;
  }
}

@keyframes rotating {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

