$base-color: #26BADF;
$speed: .3;
$squareopacity: 10%;

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  background: rgb(85,208,217);
  background: linear-gradient(70deg, rgba(85,208,217,1) 0%, rgba(0,149,255,1) 100%); 
}

.particle {
    position: absolute;
    background-color: rgba(255, 255, 255, $squareopacity);
    line-height: 1;
    padding: 1rem;
    text-stroke: black;
    padding-bottom: .2rem;
    color: rgba(255, 255, 255, $squareopacity * 2);
}

.particle-error {
  background-color: rgba(255, 0, 0, $squareopacity);
}

@keyframes moving {
  100% {
    top: 150%;
  }

  0% {
    top: -10%;
  }
}

@keyframes rotating {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

