@use 'vars' as *;

html, body { 
  margin: 0;
  height: 100%;
  color: $base-color;
  overflow: hidden;
}

body {
  display: flex;
  align-items: stretch;
  font-family: 'Teko', sans-serif;
  font-size: 2em;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  background: $bg-base;
  background: linear-gradient(70deg, lighten($bg-base, 10%) 0%, $bg-base 100%); 
}

.particle {
    position: absolute;
    background-color: rgba(255, 255, 255, $squareopacity);
    line-height: 1;
    padding: 1rem;
    text-stroke: black;
    padding-bottom: .2rem;
    color: rgba(255, 255, 255, $squareopacity * 2);
}

.particle-error {
  background-color: rgba(255, 0, 0, $squareopacity);
}

@keyframes moving {
  100% {
    top: 150%;
  }

  0% {
    top: -10%;
  }
}

@keyframes rotating {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}


// We have some weird margin here because we want the
// pages two switch places because the normal ordering in the
// flex-box is wrong
.page-enter {
  left: 110%;
}

.page-enter-active {
  transition: left ease 2s;
  left: 0;
}

.page-exit {
  left: 0;
}

.page-exit-active {
  transition: left ease 2s;
  left: -110%;
}

.page {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
}

.page-wrapper {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
