@use 'vars' as *;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: darken($bg-base, 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($bg-base, 10%);
  transition: background ease .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($bg-base, 15%);
}

* {
  scrollbar-color: lighten($bg-base, 10%) darken($bg-base, 10%);
}
