@use 'vars' as *;

$bg-tooltip: darken(rgba($bg-base, .8), 20%);

// We need the opacity to be 0 because there is
// some weirdness with CSSTransition not working properly on the first render
.tooltip {
  position: fixed;
  z-index: 999;
  background-color: $bg-tooltip;
  color: $base-color;
  border: solid 1px $base-color;
  padding: 1em;
  font-size: .5em;
}

.tooltip-enter {
  opacity: 0;
}
.tooltip-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.tooltip-exit {
  opacity: 1;
}
.tooltip-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
