@use 'vars' as *;

.typer-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  padding: 0 15%;
}

.typer-window {
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  flex-grow: 1;
  background-color: rgba(darken($bg-base, 20%), .8);
  overflow-y: auto;
  border-radius: 1em;
}

.typer-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}
