{% load static %}
<!doctype html>
<html>
  <head>
    <title>DictionaryTyper</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>  
    <div id="root" />
      <script>
        const loadingBallsUrl = "{% static 'animations/loadingballs.riv' %}"
        const treesUrl = "{% static 'animations/trees.riv' %}"
        const enterIconUrl = "{% static 'icons/enterkeybox.svg' %}"
        const statsIconUrl = "{% static 'icons/statsiconsimple.svg' %}"
        const homeIconUrl = "{% static 'icons/home.svg' %}"
        const typerIconUrl = "{% static 'icons/typericon.svg' %}"
        const skipIconUrl = "{% static 'icons/skipicon.svg' %}"
        const infoIconUrl = "{% static 'icons/infoicon.svg' %}"
        const perfectImageUrl = "{% static 'pictures/perfectimage.svg' %}"
        const backToWordUrl = "{% static 'icons/backtoword.svg' %}"
      </script>
      <script src="{% static 'index-bundle.js' %}"></script>
  </body>
</html>
